/*
.main-image {
  background-image: url("/images/index-background.jpg");
  height: 485px;
  width: 1200px;
}

.subscribe {
  background-image: url("/images/Subscribe (1).png");
  width: 1200px;
  height: 414.86px;
}
*/
