@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: #f2f2f2;
}

button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.container-header {
  background: #ffffff;
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.page-header-logo {
  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: -0.07%;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 70px;
  gap: 30px;
}

.navigation-link {
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-user-list-item .navigation-link-current {
  line-height: 24px;
  font-weight: inherit;
  text-align: center;
  color: inherit;
  background: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.main-index {
  line-height: 26px;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 1200 485;
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.main-inner {
  text-align: center;
}

.description-container {
  line-height: 26px;
  text-align: center;
  background: #000000;
}

h2 {
  visibility: hidden;
}

.advantages-list {
  line-height: 26px;
  list-style: none;
  text-align: center;
  background: #ffffff;
}

.real-town
.diablo-bridge {
font-size: 18px;
line-height: 21px;
text-align: center;
text-decoration: none;
color: #ffffff;
background-color: #828303;
}


.real-town-title
.diablo-bridge-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
 }

.real-town-paragraph
.diablo-bridge-paragraph {
  font-family: inherit;
}

.small-area
.few-tourists
.residence
.gift {
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  background-color: rgba(131, 179, 211, 0.12);
}

.small-area-title
.few-tourists-title
.residence-title
.gift-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  list-style: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(131, 179, 211, 0.2);
}

.small-area-paragraph
.few-tourists-paragraph
.residence-paragraph
.gift-paragraph {
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.beautiful-road
.diablo-bridge {
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  background-color: #828303;
}

.beautiful-road-title {
  font-weight: 700;
  font-size: 24px;
  list-style: 28px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(131, 179, 211, 0.2);
}

.beautiful-road-paragraph {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #828303;
}

.food-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(131, 179, 211, 0.2);
}

.food-paragraph {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #828303;
}

.hotel-search {
  line-height: 28px;
  text-align: center;
  background-color: #828303;
}

.hotel-searching-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: inherit;
  background-color: #828303;
  }

.food-paragraph,
.hotel-search-paragraph {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: #828303;
}

.search-link button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-subscribe {
  line-height: 26px;
  text-align: center;
  text-transform: none;
  background-image: url(/images/Subscribe\ \(1\).png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.newsletter-subscribe-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  visibility: visible;
  text-transform: uppercase;
  background-color: inherit;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
}

.newsletter-subscribe-paragraph {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
}

.page-footer {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background-color: #ffffff;
}

.footer-social-list {
  visibility: hidden;
  list-style: none;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer .htmlacademy-link {
  color: #000;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  color: #ffffff;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-image: url(/images/Фильтр\ \(1\).jpg);
  background-size: cover;
}

.catalog-filter-list {
  list-style: none;
}

.sorting-container {
  background-color: #ffffff;
}

.button-card
.button-deployed
.button-list {
  background-color: #ffffff;
}

.hotel-card-list {
  list-style: none;
  background-color: #ffffff;
}

.hotel-Amara-link
.hotel-Diablo-link
.hotel-Desert-link
.hotel-Green-link {
  text-decoration: none;
}


.hotel-Amara-title
.hotel-Diablo-title
.hotel-Desert-title
.hotel-Green-title {
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  background-color: inherit;
}

.hotel-Amara-name
.hotel-Diablo-name
.hotel-Desert-name
.hotel-Green-name {
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  background-color: inherit;
}

.hotel-Amara-price
.hotel-Diablo-price
.hotel-Desert-price
.hotel-Green-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
  background-color: #756157;
}

.order-button {
  font-weight: 700;
  font-size: 30px;
  border: none;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.filter-apply-uppercase {
  font-weight: 700;
  font-size: 30px;
  border: none;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.filter-reset-uppercase {
  font-weight: 700;
  font-size: 16px;
  border: none;
  line-height: 20px;
  color: #ffffff;
  background-color: inherit;
}

.button-able {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  border: none;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
}

.button-disable
.button-submit {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  border: none;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.more-information-button {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.rating-button {
  font-size: 16px;
  border: none;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #f2f2f2;
}

.pagination-list {
  font-weight: 700;
  font-size: 20px;
  list-style: none;
  border: none;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.pagination-link {
  text-decoration: none;
}

.pagination-current {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
  background-color: #f2f2f2;
}
