@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

button {
  font-family: inherit;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation-list {
  display: inline;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  line-height: 24px;
  font-weight: inherit;
  text-align: left;
  color: inherit;
  background: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-list-item .navigation-link-current {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  line-height: 24px;
  font-weight: inherit;
  text-align: left;
  color: inherit;
  background: inherit;
  text-decoration: underline;
  text-transform: capitalize;
  display: inline;
}

.main-index {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 1200 485;
  background-repeat: no-repeat;
}

.visually-hidden {
  visibility: hidden;
}

.main-logo-container {
  text-align: center;
}

.description-container {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background: #000000;
}

h2 {
  visibility: hidden;
}

.advantages-list {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  list-style: none;
  text-align: center;
  color: #000000;
  background: #ffffff;
}

.real-town
.diablo-bridge {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
text-decoration: none;
color: #ffffff;
background-color: #828303;
}

.real-town h3
.diablo-bridge h3 {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.real-town-paragraph
.diablo-bridge-paragraph {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
}

.small-area
.few-tourists
.residence
.gift {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #000;
  background-color: rgba(131, 179, 211, 0.12);
}

.small-area-title
.few-tourists-title
.residence-title
.gift-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  list-style: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.small-area-paragraph
.few-tourists-paragraph
.residence-paragraph
.gift-paragraph {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.beautiful-road
.diablo-bridge {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.beautiful-road-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  list-style: 28px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.beautiful-road-paragraph {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.food-title{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.food-paragraph {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.hotel-searching {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #000;
  background: none;
}

.hotel-searching-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: inherit;
  text-transform: uppercase;
  color: #000;
  background-color: inherit;
}

.food-paragraph
.hotel-searching-paragraph {
  font-family: inherit;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
  background-color: inherit;
}

.search-link button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter-subscribe {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  text-align: center;
  text-transform: none;
  background-image: url(/images/Subscribe\ \(1\).png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.newsletter-subscribe-title {
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  visibility: visible;
  text-transform: uppercase;
  color: #000;
  background-color: inherit;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
}

.newsletter-subscribe-paragraph {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: normal;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: #000;
}

.page-footer {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #000;
  background-color: #ffffff;
}

.footer-social-list {
  visibility: hidden;
  list-style: none;
}

.footer-contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.page-footer .htmlacademy-link {
  color: #000;
}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  color: #ffffff;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-image: url(/images/Фильтр\ \(1\).jpg);
  background-size: cover;
}

.catalog-filter-list {
  list-style: none;
}

.sorting-container {
  color: #000;
  background-color: #ffffff;
}

.button-light {
  color: #000;
  background-color: #ffffff;
}

.hotel-card-list {
  list-style: none;
  color: #000;
  background-color: #ffffff;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-family: "PT Sans", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #000;
  background-color: inherit;
}

.hotel-card-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #000;
  background-color: inherit;
}

.hotel-card-price-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
  background-color: #756157;
}

.order-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  border: none;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.filter-apply-uppercase {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  border: none;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.filter-reset-uppercase {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: none;
  line-height: 20px;
  color: #ffffff;
  background-color: inherit;
}

.button-able {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  border: none;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
}

.button-disable
.button-submit {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  border: none;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.more-information-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.rating-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: none;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #f2f2f2;
}

.pagination-list {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  list-style: none;
  border: none;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.pagination-link {
  text-decoration: none;
}

.pagination-current
.fourth-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
  background-color: #f2f2f2;
}
